.attribution {
     font-size: 11px; text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #D5E1EF;
}

.qr-component {
    max-width: 320px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    padding: 16px;
}

.qr-code {
    width: 100%;
    max-width:100%;
    object-fit: cover;
    border-radius: 20px;
    justify-content: center;
}

.text {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    padding: 10px;
}

.text-heading {
    font-size: 1.375rem;
    font-weight: 700;
    color: #1F314F;
}

.text-content {
    font-size: 0.9375rem;
    font-weight: 400;
    color: #7D889E;
}